<!-- START LINE SERVICE LINK -->
<a href="{{ ez_field_value(content,'url' )}}"  target="_blank">
        {% set image= get_content(ez_field_value(content,"logo" )) %}
        {% if image %}
                    {{ ez_render_field( image, "image", {parameters:{ alias:'service_link', no_tag: true} } ) }}
        {% endif %} 
</a>
<!-- END LINE SERVICE LINK -->