<!-- START EMBED SERVICE LINK -->
<div class="row liste ">
    <div class="col-md-12">
        <div class="row  {% if loop % 2 == 1 %} listeBackground {% endif %} listeBorder ">
            <div class="col-md-3">
                {% set image= get_content(ez_field_value(content,"logo" )) %}
                {% if image %}
                            {{ ez_render_field( image, "image", {parameters:{ alias:'service_link', no_tag: true} } ) }}
                {% endif %}                 
            </div>
            <div class="col-md-8">    
                <p>
                    <span class="title">
                        <a href="{{ ez_field_value(content,'url' )}}">{{ ez_field_value(content,'title' )}}</a>
                    </span>
                </p>
                <p class="align-justify">
                    {{ ez_field_value(content,'presentation' )}}
                </p>
            </div>
            <div class="col-md-1">
                <input type="checkbox" name="sdqf" />
            </div>                    
        </div>
    </div>
</div>
<!-- END EMBED SERVICE LINK -->